<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>Person</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <!-- <res-ref-name>jdbc:derby:memory:DefaultDB</res-ref-name> -->
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>SCP_DEV_CLONING</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>    
</resource-ref>
  <!-- <resource-ref>
    <res-ref-name>connectivityConfiguration</res-ref-name>
    <res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
  </resource-ref> -->
 <!--  <listener>
    <listener-class>
            
            com.sun.faces.config.ConfigureListener
        </listener-class>
  </listener> -->
  <!-- <listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/sun-jaxws.xml</param-value>
   </context-param> -->
   <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:META-INF/spring/context-provider.xml</param-value>
   </context-param>
   <listener>
      <listener-class>
         org.springframework.web.context.ContextLoaderListener
      </listener-class>
   </listener>
   
   <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>WEB-INF/cxf-beans.xml</param-value>
   </context-param>
  <servlet>
    <servlet-name>FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <init-param>
	    <param-name>javax.faces.CONFIG_FILES</param-name>
	    <param-value>/WEB-INF/faces-config.xml</param-value>
	  </init-param>
	  <init-param>
	    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
	    <param-value>server</param-value>
	  </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ServiceServletHello</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>jaxrs.serviceClasses</param-name>
      <param-value>person.HelloService,com.ondemand.SalesOrderImpl</param-value>
    </init-param>
    <init-param>
      <param-name>jaxrs.providers</param-name>
      <param-value>com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider</param-value>
    </init-param>
    <init-param>
			<param-name>jaxrs.address</param-name>
			<param-value>/rs</param-value>
		</init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServletHello</servlet-name>
    <url-pattern>/rs/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- <servlet>
    <servlet-name>ServiceServletHelloWS</servlet-name>
    <servlet-class>person.WS_Servlet</servlet-class>
    <load-on-startup>5</load-on-startup>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServletHelloWS</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping> -->
  
  <!-- <servlet>
		<servlet-name>JAXWSServlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAXWSServlet</servlet-name>
		<url-pattern>/helloWS</url-pattern>
	</servlet-mapping> -->
	
	<servlet>
        <description>Apache CXF Endpoint</description>
        <display-name>cxf</display-name>
        <servlet-name>cxf</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:META-INF/spring/cxf-provider.xml</param-value>
	   </init-param>
	   <!-- <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:cxf-beans.xml</param-value>
	   </init-param> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>cxf</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
            <servlet-name>ServiceServletOdata</servlet-name>
            <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
            <init-param>
              <param-name>javax.ws.rs.Application</param-name>
                  <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
            </init-param>
            <init-param>
                <param-name>org.apache.olingo.odata2.service.factory</param-name>
                <param-value>AnnotationSampleServiceFactory</param-value>
            </init-param>
    
    </servlet>

    <servlet-mapping>
            <servlet-name>ServiceServletOdata</servlet-name>
        <url-pattern>/odata2.svc/*</url-pattern>
    </servlet-mapping>
    <resource-ref>
	    <res-ref-name>connectivityConfiguration</res-ref-name>
	    <res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
	</resource-ref>
  
  
  <filter>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <servlet-name>FacesServlet</servlet-name>
  </filter-mapping>
  
  <filter>
      <filter-name>CorsFilter</filter-name>
      <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>CorsFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>